:root {
    --colour-text: #ffffff;
    --colour-text-highlight: #d600d6;
    --colour-background: #0a1135;
    --colour-background-highlight: #420420;
    --colour-button-highlight: #333888;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
}

h1, h2, h3, p {
    overflow-wrap: break-word;
}

input, button, select {
    font: inherit;
}

html {
    hanging-punctuation: first last;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    background-color: var(--colour-background);
    color: var(--colour-text);
}

header {
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    background-color: var(--colour-background-highlight);

    li {
        display: inline;
        list-style-type: none;
    }
}

a {
    color: var(--colour-text-highlight);
    font-size: 20px;
    text-decoration: none;
    position: relative;

    &:hover {
        background-color: var(--colour-background);
    }
}

h1 {
    color: var(--colour-text-highlight);
}

.card {
    background-color: var(--colour-background); 
    border-radius: 6px; 
    box-shadow: 0 5px 10px var(--colour-button-highlight); 
    padding: 35px;
    margin: 20px auto;
    max-width: 80%;

    a > h2 {
        color: white;

        &:hover {
            text-decoration: none;
            color: var(--colour-text-highlight);
        }
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

#navbuttons {
    height: 50px;
    margin: 30px 0;

    button {
        background-color: var(--colour-background-highlight);
        color: var(--colour-text);

        &:hover {
            background-color: var(--colour-button-highlight);
            cursor: pointer;
        }
    }
}

#a-top {
    color: white;
    font-style: italic;
}

footer {
    padding: 10px;
}